
body {
    margin: 0;
}

.signup_outer {
    background-color: rgb(236, 236, 237);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_outer_inner {
    height: 65vh;
    max-width: 600px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.signup_outer_inner_row1 img{
         margin-top: -5px;
         margin-left: 8px;
         width: 30px;
}

.signup_outer_inner_row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signup_outer_inner_row1 h2 {
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(56, 51, 51);
}

.signup_outer_inner_row2 h2{

    margin-bottom: -11px;
    margin-left: 25px;
    margin-top: 10px;
}

.signup_outer_inner_row3 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-top: 20px;
}

.signup_outer_inner_row4 {
    display: flex;
    flex-direction: row;
    
}

.signup_outer_inner_row4_left input{
    margin-left: 25px;
    margin-right: 15px;
    width: 95%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
}
.signup_outer_inner_row4_right input {
    margin-left: 58px;
    margin-right: 15px;
    width: 90%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
}

.signup_outer_inner_row5,
.signup_outer_inner_row6,
.signup_outer_inner_row7 {

    margin-left: 25px;
    margin-right: 15px;
    margin-top: 20px;
}

.signup_outer_inner_row5 input,
.signup_outer_inner_row6 input,
.signup_outer_inner_row7 input {
    padding-left: 50px;
    width: 90%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
}

.signup_outer_inner_row8 {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    font-size: small;
    margin-top: 25px;
   
   
}

.signup_outer_inner_row8 label {
    /* padding-top: 10px;
    padding-left: 10px; */
    display: flex;
    flex-direction: column; 
    font-size: 15px;
    margin-left: 0px;
    padding-left: -1px;
    font-weight: 200px;
}
.signup_outer_inner_row8 input {
margin-right: 11px;
margin-left: 12px;
}

.signup_outer_inner_row8 span {
    color: blueviolet;
}

.signup_outer_inner_row9 {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.signup_outer_inner_row9 button {
    padding : 5px;
    margin-top: 10px;
    width: 90%;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}
.signup_outer_inner_row8_label{
    color: #A371FD;
}






